*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

header{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

nav{
  display: flex;
  justify-content: space-between;
}

ul{
  display: flex;
}

li{
  list-style-type: none;
  margin-left: 30px;
}

li > a{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 700;
}

.signup, .login{
  width: 90px;
  height: 35px;
  font-size: 1em;
  font-weight: 700;
}

.signup{
  margin-left: 10px;
}

.toggle span{
  background-color: black;
  width: 30px;
  height: 2px;
  cursor: pointer;
  display: block;
  margin-left: 15px;
  border-radius: 20px;
}

.show{
  display: flex;
}