*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

header{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

nav{
  display: flex;
  justify-content: space-between;
}

ul{
  display: flex;
}

li{
  list-style-type: none;
  margin-left: 30px;
}

li > a{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 700;
}

.signup, .login{
  width: 90px;
  height: 35px;
  font-size: 1em;
  font-weight: 700;
}

.signup{
  margin-left: 10px;
}

/* .hamburger {
  display: none;
} */

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #482ff7;
  border-radius: 50em;
}


@media screen and (max-width: 768px){
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
          opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: white;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: white;
        width: 25px;
    }
}